@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #ffffff;
  /* --font-anonymous-pro: 'Anonymous Pro', monospace; */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ededed;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-anonymous-pro);
}

/* Удаление стрелочек в Chrome, Edge и Safari */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#lawsuit-type {
  -moz-appearance:none; /* Firefox */
  -webkit-appearance:none; /* Safari and Chrome */
  appearance:none;
}

#lawsuit-type:focus {
  border: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input[type="checkbox"] {
  border: none;
  outline: none;
}

.rdp-months {
  color: #424242;
}

.rdp-chevron {
  fill: #006FFD !important;
}

.rdp-selected > .rdp-day_button {
  border: 2px solid #006FFD !important;
}

.rdp-day.rdp-today {
  color: #006FFD !important;
  font-style: bold;
  font-weight: 600;
}

#payment_window {
  scrollbar-width: thin; /* Для Firefox */
  scrollbar-color: gray transparent; /* Цвет ползунка и фона */
}

#payment_window::-webkit-scrollbar {
  width: 10px; /* Ширина скролл-бара */
  height: 10px; /* Для горизонтального скролла */
}

#payment_window::-webkit-scrollbar-track {
  background: transparent; /* Фон трека */
}

#payment_window::-webkit-scrollbar-thumb {
  background: white; /* Цвет ползунка */
  border-radius: 10px; /* Закругление ползунка */
  border: 2px solid transparent; /* Добавить пространство вокруг */
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1); /* Для контраста */
}

#payment_window::-webkit-scrollbar-thumb:hover {
  background: #494A50; /* Цвет ползунка при наведении */
}

/* Убираем стрелочки */
#payment_window::-webkit-scrollbar-button {
  display: none;
}

#document_preview {
  font-family: 'Times New Roman', Times, serif, var(--font-anonymous-pro);
}
